In [1]:
import pandas as pd

vendas = [2500, 3500, 3000, 4000, 2500, 4500]
meses = ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho']

serie_vendas = pd.Series(vendas)
display(serie_vendas)

serie_vendas_meses = pd.Series(vendas, index=meses)
display(serie_vendas_meses)

0    2500
1    3500
2    3000
3    4000
4    2500
5    4500
dtype: int64

Janeiro      2500
Fevereiro    3500
Março        3000
Abril        4000
Maio         2500
Junho        4500
dtype: int64

In [2]:
total_vendas = serie_vendas_meses.sum()
print(f"O Total de vendas no Período foi R$: {total_vendas}")

O Total de vendas no Período foi R$: 20000

In [3]:
media_vendas = serie_vendas_meses.mean()
print(f"Média de vendas é R$: {round(media_vendas, 2)}")

Média de vendas é R$: 3333.33

In [4]:
nome = ['Douglas', 'Daniela', 'Pedro', 'Maria', 'Eduardo', 'Ester']
idade = [45, 7, 65, 42, 37, 64]
altura = [1.85, 1.23, 1.75, 1.55, 1.82, 1.73]
peso = [70, 22, 87, 64, 98, 68]
sexo = ['M', 'F', 'M', 'F', 'M', 'F']

# a função zip junta as listas em uma única lista
df = pd.DataFrame(
    zip(nome, idade, altura, peso, sexo),
    columns=['nome', 'idade', 'altura', 'peso', 'sexo']
)

display(df)

# shape mostra a quantidade de linhas e colunas do dataframe
df.shape

      nome  idade  altura  peso sexo
0  Douglas     45    1.85    70    M
1  Daniela      7    1.23    22    F
2    Pedro     65    1.75    87    M
3    Maria     42    1.55    64    F
4  Eduardo     37    1.82    98    M
5    Ester     64    1.73    68    F

(6, 5)

In [ ]:
# pega um item aleatório do dataframe
df.sample() 

# pega a quantidade de itens especificada nos parênteses do dataframe, aleatoriamente
df.sample(2)

# mostra o tipo de cada coluna do dataframe
df.dtypes

# resumo de informações do dataframe
df.info()


df.index